extends layout

block content
  h1= heading
  details(open)
    summary Legislators
    ul
      each legislator in legislators
        li #{legislator.firstName} #{legislator.lastName} from #{legislator.hometown}

