doctype html
html
  head
    title #{heading} | #{appTitle}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= heading
    nav
      a(href="/") Home
      | &nbsp;
      a(href="/legislator/create") Create Legislator
  block content
