extends ../layout

block content
    each item in legislation
        - let isNew = (item.$loki === indNew)
        details(open=isNew)
            summary
                b= item.title
            p= item.text
            p= item.sponsorText
