body {
  margin: 3lh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
  margin-top: 1lh;
  margin-bottom: 1lh;
  display: flex;
  justify-content: space-between;
}

a {
  color: #00B7FF;
}

form {
  margin-top: 1lh;
  margin-bottom: 1lh;
}

.form-line {
  margin-top: 1lh;
  margin-bottom: 1lh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-line > label {
  margin-right: 1lh;
}

.form-line input {
  flex: 1;
}

.form-line textarea {
  flex: 1 1 auto;

  min-height: 12lh;
}

.grow {
  flex: 1 1 auto;
}
