extends ../layout

block content
    form(action="/legislator/create" method="post")
        div(class="form-line")
            label(for="firstName") First name: &nbsp;
            input(type="text" name="firstName" id="firstName" required autofocus autocapitalize="words" placeholder="At least two letters" pattern="[\\p{L}\\p{Mn}\\p{Pd}\\p{Zs}']{2,50}")
        div(class="form-line")
            label(for="lastName") Last name: &nbsp;
            input(type="text" name="lastName" id="lastName" required autocapitalize="words" placeholder="At least two letters" pattern="[\\p{L}\\p{Mn}\\p{Pd}\\p{Zs}']{2,50}")
        div(class="form-line")
            label(for="hometown") Hometown: &nbsp;
            input(type="text" name="hometown" id="hometown" required autocapitalize="words" placeholder="At least two letters" pattern="[\\p{L}\\p{Mn}\\p{Pd}\\p{Zs}']{2,50}")
        button(type="submit") Create legislator
